<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h2>Nhập dữ liệu</h2>
    <form action="/addaccount" method="post">
       
        <label for="">Username</label>
        <input type="text" name="username">
        <label for="">Email</label>
        <input type="email" name="email">
        <label for="">FullName</label>
        <input type="text" name="fullname">
        <label for="">DepartmentID</label>
        <input type="text" name="departid">
        <label for="">PositionID</label>
        <input type="text" name="postid">
        <label for="">CreateDate</label>
        <input type="date" name="createdate">
      
        <button type="submit">Thêm</button>
    </form>
</body>
</html>